In [7]:
import pandas as pd
import numpy as np

In [5]:
df_books = pd.read_csv('familiaBEFI.csv',sep='|',header=0)
df_books

     Nombre   Apellido  Edad
0     Eliza   Figueroa  31.0
1    Camilo  Benavides  31.0
2  Santiago  Benavides   1.0
3    Sandra      Rubio  52.0
4     Kenny  Benavides   3.0
5     Perla  Benavides   9.0
6     Bluey  Benavides   0.2

In [3]:
def multiplica(value):
    return value * 2

In [8]:
df_books['edadx2'] = df_books['Edad'].apply(multiplica)
df_books

     Nombre   Apellido  Edad  edadx2
0     Eliza   Figueroa  31.0    62.0
1    Camilo  Benavides  31.0    62.0
2  Santiago  Benavides   1.0     2.0
3    Sandra      Rubio  52.0   104.0
4     Kenny  Benavides   3.0     6.0
5     Perla  Benavides   9.0    18.0
6     Bluey  Benavides   0.2     0.4

In [13]:
df_books['edadx2'] = df_books.apply(lambda x : x['Edad']*2 if x['Apellido']=='Benavides' else x['Edad'], axis=1)
df_books

     Nombre   Apellido  Edad  edadx2
0     Eliza   Figueroa  31.0    31.0
1    Camilo  Benavides  31.0    62.0
2  Santiago  Benavides   1.0     2.0
3    Sandra      Rubio  52.0    52.0
4     Kenny  Benavides   3.0     6.0
5     Perla  Benavides   9.0    18.0
6     Bluey  Benavides   0.2     0.4

In [5]:
arr = [[7,8],
[2,1],
[2,4]]

In [8]:
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
arr = np.array([13, 6, 3, 5, 10])

In [10]:
np.argmax(arr)

0

In [14]:
arr = np.array([13, 6, 3, 5, 10])
np.max(arr)

13

In [15]:
np.array([1,2,3])

array([1, 2, 3])

In [16]:
df_books.loc[0:10, ['Name', 'Author']]

NameError: name 'df_books' is not defined